<div class="container-xxl py-5 px-0 wow zoomIn" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5">
                <h6 class="section-title text-start text-white text-uppercase mb-3">Dedeman Hotel</h6>
                <h1 class="text-white mb-4">Discover A Brand <span class="text-primary">Dedeman Hotel</span></h1>
                <p class="text-white mb-4">You can get to know us better by watching the Dedeman hotel promotional video. If you have questions, you can contact us via the contact section.</p>
                <a href="" class="btn btn-primary py-md-3 px-md-5 me-3">Our Rooms</a>
                <a href="" class="btn btn-secondary py-md-3 px-md-5">Book A Room</a>
            </div>
        </div>
        <div class="col-md-5" style="margin-left:10px">
            <iframe width="560" height="410" src="https://www.youtube.com/embed/Bh-OmBjddJc?si=Byd0lrx_iBxAtJiH" title="YouTube video player"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>s